body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  width: 100%;
  padding-top: 35%;
}